/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* Estilos para el header */
header {
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 48px;
    margin: 0;
}

header .navbar {
    margin-bottom: 0;
}

/* Estilos para los productos */
main h2 {
    font-size: 36px;
    margin: 40px 0;
}

.card {
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.cart-icon {
    background-attachment: fixed;
}

.sidebar {
    width: 200px;
    float: left;
    margin-right: 20px;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #f5f5f5;
}

.content {
    float: left;
    width: 600px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}